@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Lato', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
}

@theme {
  --color-primary: #fc0362;
  --color-secondary: #4ECDC4;
  --color-tertiary: #45B7D1;
  --color-light: #FFF8E1;
  --color-dark: #2C3E50;
  --color-danger: #E74C3C;
  --color-success: #27AE60;
  --color-info: #3498DB;
  --color-accent-dark: #8E44AD;
}